<div class="container-fluid add-item col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position: fixed; z-index: 1;">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" style="margin-bottom: 15px">
            <label for="new-list"><h2 class="title">New Item: </h2></label>
            <input [(ngModel)] = "nameInput" type="text" class="form-control" id="new-item-form">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" style="margin-bottom: 15px">
            <label for="new-list"><h2 class="title">Qty: </h2></label>
            <input [(ngModel)] = "numberInput" type="number" class="form-control" id="new-qty-form">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-md-offset-4 col-sm-offset-4" style="margin-top: 35px">
            <button (click)="addItem()" class="btn btn-lg btn-success" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
</div>

<!-- CONTAINER FOR LIST ITEMS -->
<div class="container col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1" style="padding-top: 125px;">

    <!-- LIST ITEMS -->
    <div
        class="container-fluid list-element"
        *ngFor = "let item of myList"
        (swipeleft)="item.name = 'left'"
        (swiperight)="item.name = 'right'"
        (swipeup)="item.name = 'up'"
        (swipedown)="item.name = 'down'"
        (press)="item.name = 'press'"
        >

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
                <h3>{{item.name}}</h3>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-top: 25px;padding-right: 0;">
                <label>x</label>
            </div>
            <div class="list-inline col-lg-2 col-md-2 col-sm-2 col-xs-3" style="margin-top: 15px">
                <input [(ngModel)] = "item.quantity" type="number" class="form-control" id="qty-form1">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" style="margin-top: 5px;">
                <input type="checkbox" class="item-checkbox" value="">
            </div>
        </div>
    </div>

    <!-- BOTTOM-OF-PAGE OPTIONS -->
    <div class="container-fluid list-element">
        <div class="row" style="text-align: center;">
            <!--<a href="#aboutModal" data-toggle="modal" data-target="#deleteModal" class="btn btn-lg btn-danger">Reset List</a>-->
            <button class="btn btn-lg btn-danger" (click)="resetModal.show()" data-toggle="modal" data-target="#listModal" style="margin: 10px 0 10px 0;">
                <span>Reset List</span>
            </button>
            <!--<a href="#aboutModal" data-toggle="modal" data-target="#checkoutModal" class="btn btn-lg btn-success">Checkout</a>-->
            <button class="btn btn-lg btn-success" (click)="checkoutModal.show()" data-toggle="modal" data-target="#listModal" style="margin: 10px 0 10px 0;">
                <span>Checkout</span>
            </button>
        </div>
    </div>

</div>

<!-- MODALS BELOW HERE -->
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" bsModal #resetModal="bs-modal"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                                <br>
                        </div>
                        <div class="modal-body">
                                <!-- <center> -->
                                <br>
                                <h3 class="media-heading">Are you sure you want to reset this list?</h3>
                                <!-- </center> -->
                        </div>
                        <div class="modal-footer">
                                <!-- <center> -->
                                <button type="button" class="btn btn-success btn-default" data-dismiss="modal" (click)="resetModal.hide()" aria-label="Close">Yes - Uncheck all items</button>
                                <button type="button" class="btn btn-danger btn-default" data-dismiss="modal" (click)="resetModal.hide()" aria-label="Close">No - I'm still using this list!</button>
                                <!-- </center> -->
                        </div>
                </div>
        </div>
</div>

<!-- Checkout Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" bsModal #checkoutModal="bs-modal"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                                <br>
                                </div>
                        <div class="modal-body">
                                <!-- <center> -->
                                <br>
                                <h3 class="media-heading">Are you ready to checkout?</h3>
                                <!-- </center> -->
                        </div>
                        <div class="modal-footer">
                                <!-- <center> -->
                                <button type="button" class="btn btn-success btn-default" data-dismiss="modal" (click)="checkoutModal.hide()" aria-label="Close">Yes - Add items to my Fridge</button>
                                <button type="button" class="btn btn-danger btn-default" data-dismiss="modal" (click)="checkoutModal.hide()" aria-label="Close">No - Keep Shopping</button>
                                <!-- </center> -->
                        </div>
                </div>
        </div>
</div>