<div class="container-fluid add-item col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position: fixed; z-index: 1; border: 0">
    <div class="row ">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 new-object-input">
            <input #item [(ngModel)] = "nameInput" (keyup.enter) = "quantity.focus()" type="text" class="form-control" id="new-item-form" placeholder="New Item">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" style="padding: 20px 15px">
            <input #quantity [(ngModel)] = "numberInput" (keyup.enter) = "addItemButton.click()" type="number" min=0 class="form-control" id="new-qty-form" placeholder="Qty.">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-1 col-md-offset-3 col-sm-offset-3" style="margin-top: 15px">
            <button #addItemButton (click)="addItem()" class="btn btn-lg btn-success title" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
</div>

<div class="container col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1" style="top: 80px; margin-bottom: 60px">


    <div class="container-fluid list-element" *ngFor = "let item of currentList$ | async; let i = index">

        <div class="list-item-swipe-display swipe-left"
            [class.swipe-display]="item.isQueuedForDelete && item.deleteQueueRight"
            [class.swipe-hide]="!(item.isQueuedForDelete && item.deleteQueueRight)"
            (swiperight)="item.isQueuedForDelete=false; item.deleteTimer=clearItemDeleteTimer(item.deleteTimer)"
            (tap)="item.isQueuedForDelete=false; item.deleteTimer=clearItemDeleteTimer(item.deleteTimer)"
            #swipeLeft><span>Undo</span></div>

        <div class="list-item-swipe-display swipe-right"
            [class.swipe-display]="item.isQueuedForDelete && !item.deleteQueueRight"
            [class.swipe-hide]="!(item.isQueuedForDelete && !item.deleteQueueRight)"
            (swipeleft)="item.isQueuedForDelete=false; item.deleteTimer=clearItemDeleteTimer(item.deleteTimer)"
            (tap)="item.isQueuedForDelete=false; item.deleteTimer=clearItemDeleteTimer(item.deleteTimer)"
            #swipeRight><span>Undo</span></div>

        <div class="row"
                (swipe)="item.isQueuedForDelete=true; item.deleteTimer=startItemDeleteTimer(item.$key)"
                (swipeleft)="item.deleteQueueRight=true"
                (swiperight)="item.deleteQueueRight=false">

            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6" style="margin-top: 10px">
                <!-- <h4 (click)="renameModal.show()" data-toggle="modal">{{item.name}}</h4> -->
                <h4 class="item-name" data-toggle="modal" (tap)="renameModal.show()">{{ item.name }}</h4>
            </div>

            <!-- These items are visible normally -->
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                 style="margin-top: 25px;padding-right: 0;">
                <label>x</label>
            </div>
            <div class="list-inline col-lg-2 col-md-2 col-sm-2 col-xs-3"
                 style="margin-top: 15px">
                <input [(ngModel)] = "item.qty" type="number" class="form-control" id="qty-form1">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"
                 style="margin-top: 5px;">
                <input [(ngModel)] = 'item.checked' (click)="checkItem(item.checked, item.$key)" type="checkbox" class="item-checkbox" value="">
            </div>

        </div>
    </div>

    <div class="container-fluid list-element">
        <div class="row" style="text-align: center;">
            <button class="btn btn-md btn-danger" (tap)="resetModal.show()" data-toggle="modal" data-target="#listModal" style="margin: 10px 0 10px 0;">Reset List</button>
            <button class="btn btn-md btn-success" (tap)="checkoutModal.show()" data-toggle="modal" data-target="#listModal" style="margin: 10px 0 10px 0;">Checkout</button>
        </div>
    </div>


</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true" bsModal #resetModal="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px">
                <button type="button" class="close" (click)="resetModal.hide()" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                <br>
            </div>
            <div class="modal-body">
                <br>
                <h4 style="text-align: center" class="media-heading">Are you sure you want to reset this list?</h4>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-success btn-sm btn-default" data-dismiss="modal" (click)="resetModal.hide();  resetAllItems()" aria-label="Close">Yes - Uncheck all items</button>
                <button type="button" class="btn btn-danger btn-sm btn-default" data-dismiss="modal" (click)="resetModal.hide()" aria-label="Close">No - I'm still using this list!</button>
            </div>
        </div>
    </div>
</div>

<!-- Checkout Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" bsModal #checkoutModal="bs-modal" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="checkoutModal.hide()"><span class="glyphicon glyphicon-remove"></span></button>
                <br>
                </div>
            <div class="modal-body">
                <br>
                <h4 style="text-align: center" class="media-heading">Are you ready to checkout?</h4>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-success btn-sm btn-default" data-dismiss="modal" (click)="checkoutModal.hide();  getAllCheckoutItems(); resetAllItems()" aria-label="Close">Yes - Add items to my Fridge</button>
                <button type="button" class="btn btn-danger btn-sm btn-default" data-dismiss="modal" (click)="checkoutModal.hide()" aria-label="Close">No - Keep Shopping</button>
            </div>
        </div>
    </div>
</div>
<!-- Rename Modal -->
            <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" bsModal #renameModal="bs-modal" aria-labelledby="rename" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" (click)="renameModal.hide()" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                    <label for="rename-form"><h3 class="media-heading">Item Rename: </h3></label>
                                    <input [(ngModel)]="renameInput" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="rename-form" (keyup.enter)="saveButton.click()">
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row" style="text-align: center;">
                                <button class="btn btn-md btn-danger" (click)=" renameModal.hide(); listRename(item)" >Undo Changes</button>
                                <button #saveButton class="btn btn-md btn-success" (click)=" renameModal.hide(); listRename(item)" >Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


