<nav>
  <!-- <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a> -->
  <!-- <a [routerLink]="['/list']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">LIST</a> -->
  <!-- <a [routerLink]="['/fridge']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">FRIDGE</a> -->
  <!-- <a [routerLink]="['/settings']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">SETTINGS</a> -->
  <!-- <a [routerLink]="['/affiliates']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">AFFILIATES</a> -->
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/auth']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">SIGNUP</a>
</nav>
