<div class="container-fluid add-list col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
    <div class="row list-inline">
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-8 col-lg-offset-2 col-sm-offset-1 new-object-input">
            <input [(ngModel)] = "nameInput" (keyup.enter)="addListButton.click()" type="text" class="form-control" id="new-list-form" placeholder="New List" >
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-1 col-md-offset-3 col-xs-offset-1" style="margin-top: 15px">
            <button #addListButton (click)="addList()" class="btn btn-lg btn-success title" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
</div>

<div class="container col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1" style="top: 80px; margin-bottom: 60px">

    <!-- HTML for individual items in the main list -->
    <div class="container-fluid list-element" *ngFor="let item of homeList$ | async; let i = index">

        <!-- Swipe left delete interface -->
       <div class="list-item-swipe-display swipe-left"
            [class.swipe-display]="item.isQueuedForDelete && item.deleteQueueRight"
            [class.swipe-hide]="!(item.isQueuedForDelete && item.deleteQueueRight)"
            (swiperight)="item.isQueuedForDelete=false; item.deleteTimer=clearItemDeleteTimer(item.deleteTimer)"
            (tap)="item.isQueuedForDelete=false; item.deleteTimer=clearItemDeleteTimer(item.deleteTimer)"
            #swipeLeft><span>Undo</span></div>
        
        <!-- Swipe right delete interface -->
        <div class="list-item-swipe-display swipe-right"
            [class.swipe-display]="item.isQueuedForDelete && !item.deleteQueueRight"
            [class.swipe-hide]="!(item.isQueuedForDelete && !item.deleteQueueRight)"
            (swipeleft)="item.isQueuedForDelete=false; item.deleteTimer=clearItemDeleteTimer(item.deleteTimer)"
            (tap)="item.isQueuedForDelete=false; item.deleteTimer=clearItemDeleteTimer(item.deleteTimer)"
            #swipeRight><span>Undo</span></div>

        <!-- Time interval tracker for swipe delete feature -->
        <div class="row"
                (swipe)="item.isQueuedForDelete=true; item.deleteTimer=startItemDeleteTimer(item.$key)"
                (swipeleft)="item.deleteQueueRight=true"
                (swiperight)="item.deleteQueueRight=false">

            <!-- List container -->
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6"
                 style="margin-top: 3px">
                <h4 class="item-name" (tap)="selectList(item.$key)">{{item.$value}}</h4>
            </div>
            
            <!-- Dropdown menu and options -->
            <div class="dropdown"
                 style="margin-top: 8px; right: 10px; font-size: 20px; position: absolute;"
                 dropdown>
                
                <a DATA-TOGGLE="#" dropdownToggle class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-option-vertical"></span></a>

                <ul *dropdownMenu role="menu" class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1" style="z-index: 9001">
                    <li role="menuitem" class="menu-item"><a DATA-TOGGLE="#" (click)="renameModal.show(); renameInput = item.$value" data-toggle="modal">Rename</a></li>
                    <li role="menuitem" class="menu-item"><a DATA-TOGGLE="#" (click)="copyList(item.$key, item.$value)">Copy</a></li>

                    <li role="menuitem" class="menu-item"><a DATA-TOGGLE="#" (click)="item.isQueuedForDelete=true; item.deleteTimer=startItemDeleteTimer(item.$key)">Delete</a></li>
                    <li role="menuitem" class="menu-item"><a DATA-TOGGLE="#" (click)="resetList(item.$key)">Reset</a></li>
                </ul>
            </div>

        </div>
        
            <!-- Rename Modal -->
            <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" style="z-index: 6000" bsModal #renameModal="bs-modal" aria-labelledby="rename" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" (click)="renameModal.hide()" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                    <label for="rename-form"><h3 class="media-heading">Rename: </h3></label>
                                    <input [(ngModel)]="renameInput" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="rename-form">
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row" style="text-align: center;">
                                <button class="btn btn-lg btn-success" (click)=" renameList(item.$key); renameModal.hide()" >Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
