/* New List */
.add-list {
	background-color: #0A8056;
	border: 0;
	color: white;
	position: fixed;
	z-index: 5000;
}

/* Individual List Elements */
.list-container {
	margin-top: 3px;
}

.list-element {
	background-color: #E5E5E5;
	border: 3px solid white;
    position: relative;
}

/* Dropdown */
.dropdown {
	font-size: 20px;
	margin-top: 8px;
	position: absolute;
	right: 10px;
}

.dropdown-menu {
	z-index: 9001;
}

.selected {
	background-color:orange;
}

.buddyHelper {
	position: fixed;
	bottom: 55px;
	right: 0;
	z-index: -1;
}


.bubble
{
	display: none;
	position: fixed;
	width: 180px;
	height: 150px;
	padding: 0px;
	background: #FFA500;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #FFA500 solid 5px;
	bottom: 80px;
	padding: 12px;
	right: 110px;
	color: green;
	font-family: Chewy;
	font-size: 18px;
}

.bubble:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 9px 0 9px 15px;
	border-color: transparent #FFA500;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 83px;
}

.bubble:before
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 13px 0 13px 19px;
	border-color: transparent #FFA500;
	display: block;
	width: 0;
	z-index: 0;
	right: -24px;
	top: 79px;
}

.plusButton {
	font-family: "Arial Rounded MT Bold";
	font-weight: 900;
	font-size: 12px;
	color: white;
	background-color: #5cb85c;
	border: solid 1px #5cb85c;
	border-radius: 5px;
	padding-left: 2px;
	padding-right: 2px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.bubbleShow {
	display:block;
}

.bubbleHide {
	display:none;
}