<div class="container-fluid col-lg-4 col-md-4 col-sm-4 col-xs-10 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-1" style="top: 30px; margin-bottom: 50px">

<div class="well">
    <h1 class="text-center">GroceryBuddy</h1>
    <div class="container-fluid img-responsive img-cricle"><img src="../../assets/imgs/pepper.png" alt="grocerybuddy" class="center-block"></div>
    <h1 class="text-center">Welcome</h1>
    <form>

            <button type="button" class="btn btn-danger btn-block">Connect Through Google</button>

      <button type="button" class="btn btn-info btn-block">Connect Through Email</button>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email">
        </div>

        <div class="form-group">
            <label for="email">Password:</label>
            <input type="password" class="form-control" id="password">
        </div>

        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label> <a class="pull-right" href="#">Forgot Password?</a>
        </div>

        <button type="button" class="btn btn-success btn-block">Submit</button>


    </form>

</div>
</div>