.logo-container {
	margin-top: 10px;
}

/* Login Form */
.btn {
	padding: 2px 0;
}

.checkbox {
	padding: 2px 14px;
}

.login-form {
	background-color: #5CB85C;
}

.email-signin {
	color: white;
	vertical-align: middle;
}

.email-signin-graphic {
	font-size: 22px;
	padding-right: 15px;
	vertical-align: middle;
}

.sign-in {
	bottom: 20px;
}

.login-container {
	background-color: #5CB85C;
}

.reminder-checkbox {
	left: 22px;
	top: -13px;
}

.form-element {
	padding: 0;
	margin: 22px 0;
}

a {
	text-decoration: none;
}

/* GOOGLE SIGN-IN BUTTON CSS */
#customBtn {
	background: white;
	color: #444;
	border-radius: 5px;
	margin-top: 15px;
	white-space: nowrap;
	text-align: center;
}
#customBtn:hover {
  cursor: pointer;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

span.icon {
  background: url('../../assets/imgs/google-logo1.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}