body, html {
	height: 100%;
	background-color: #5CB85C;
}

.container-fluid {
	background-color: #5CB85C;
	height: 100vh;
}

.logo-container {
	background-color: white;
	border-radius: 50%;
	margin-top: 10px;
	padding: 20px;
}

/* Login Form */
.form-title {
	text-align: center;
	margin-top: -10px;
}

.form-title-text {
	font-size: 6em;
	margin-bottom: 30px;
}

.btn {
	padding: 2px 0;
}

.checkbox {
	padding: 2px 14px;
}

.email-signin-graphic {
	font-size: 25px;
	padding-right: 10px;
	vertical-align: middle;
}

.sign-in {
	bottom: 20px;
}

.login-container {
	background-color: #5CB85C;
	padding: 10px 25px;
}

.reminder-checkbox {
	left: 22px;
	top: -13px;
}

.form-element {
	padding: 0;
	margin: 22px 0;
}

.form-btn {
	margin: 1px 0 40px;
	width: 49%;
	vertical-align: center;
}

.confirm-login-password-error {
	color: red;
}

a {
	text-decoration: none;
}

/* FACEBOOK SIGN-IN BUTTON CSS */
.fb-logo {
	height: 30px;
	margin-right: 10px;
	width: 30px;
}

.fb-btn {
	background-color: #3B5998; 
}

.fb-btn:hover {
	color: white;
}

/* GOOGLE SIGN-IN BUTTON CSS */
#customBtn {
	background: white;
	color: #444;
	border-radius: 5px;
	margin-top: 15px;
	white-space: nowrap;
	text-align: center;
}
#customBtn:hover {
  cursor: pointer;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

span.icon {
  background: url('../../assets/imgs/google-logo1.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

/* Display for large desktop view*/
@media (min-width: 1200px) {

	.logo-container {
		margin-top: 12%;
	}

	.login-container {
		margin-top: 8%;		
	}
}

@media (max-width: 1200px) {

	.form-title {
		display: none;
	}
}