.container-fluid {
	background-color: #5CB85C;
	height: 100vh;
}

.logo-container {
	background-color: white;
	border-radius: 50%;
	margin-top: 10px;
	padding: 20px;
}

.login-container {
	background-color: #5CB85C;
	margin-top: 10px;
}

.login-return-text {
	color: white;
	vertical-align: middle;
}

.btn {
	padding: 2px 0;
}

.forgot-password {
	padding: 0px 14px;
}

.remember-checkbox {
	color: #4B4B4B;
	top: -12px;
}

.login-form {
	background-color: #5CB85C;
}

.form-title {
	text-align: center;
	margin-top: -10px;
}

.form-title-text {
	font-size: 6em;
	margin-bottom: 30px;
}

.sign-in {
	bottom: 20px;
}

.form-container {
	background-color: #5CB85C;
}

.form-element {
	padding: 0;
	margin: 25px 0;
}

.form-btn {
	margin: 1px 0 20px;
	width: 49%;
	vertical-align: center;
}

a {
	text-decoration: none;
}

.confirm-error-msg {
	color: red;
}

/* Display for large desktop view*/
@media (min-width: 1200px) {

	.logo-container {
		margin-top: 12%;
	}

	.login-container {
		margin-top: 8%;		
	}
}

@media (max-width: 1200px) {

	.form-title {
		display: none;
	}
}