.login-container {
	margin-top: 10px;
}

.login-return-text {
	color: white;
	vertical-align: middle;
}

.btn {
	padding: 2px 0;
}

.checkbox {
	padding: 2px 14px;
}

.remember-checkbox {
	color: #4B4B4B;
	top: -12px;
}

.login-form {
	background-color: #5CB85C;
}

.sign-in {
	bottom: 20px;
}

.form-container {
	background-color: #5CB85C;
}

.form-element {
	padding: 0;
	margin: 14px 0;
}

a {
	text-decoration: none;
}

.confirm-error-msg {
	color: red;
}