<!-- REGISTER PAGE HTML -->
<div class="container-fluid">
    <div class="row">

        <!-- Grocery Buddy Logo -->
        <div class="logo-container container col-lg-4 col-md-6 col-sm-8 col-xs-10 col-lg-offset-1 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
            <img src="../../assets/imgs/GroceryBuddyLogin.png" alt="Grocery Buddy" class="img-responsive buddyLogo">
        </div>
        
        <!-- Main Form Container -->
        <div class="container col-lg-5 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 login-container">

            <div class="container col-lg-12 col-md-8 col-sm-10 col-xs-12 col-lg-offset-0 col-md-offset-2 col-sm-offset-1 col-xs-offset-0 login-form">
                <div class="row">

                    <!-- Form Begins Here -->
                    <form method="post" id="registerform" action="">
                        <div class="form-title title">
                            <h1 class="form-title-text">Grocery Buddy</h1>
                        </div>
                        
                        <!-- Sign-up Form -->
                        <h3 class="title">Sign Up: </h3>

                        <!-- User Name -->
                        <div class="form-group form-element">
                            <h5 id="confirmpassworderror" class="confirm-error-msg error">{{confirmNameMessage}}</h5>
                            <input [(ngModel)]="userName" #name type="name" class="form-control" id="name" placeholder="Name" name="user_name" required>
                        </div>

                        <!-- User Email -->
                        <div class="form-group form-element">
                            <h5 id="confirmpassworderror" class="confirm-error-msg error">{{confirmEmailMessage}}</h5>
                            <input [(ngModel)]="userEmail" #email type="email" class="form-control" id="email" placeholder="Email" name="user_email" required>
                        </div>

                        <!-- User Password -->
                        <div class="form-group form-element">
                            <h5 class="title">Must contain at least one uppercase and lower case letter as well as a number and a special character (ie. $, #, !, %). Must also have a minimum length of 6 characters.</h5>

                            <input #password type="password" class="form-control" id="password" placeholder="Password" name="user_password" (blur)="checkComplexity(password.value)" [(ngModel)]="userpassword" required>
                        </div>

                        <!-- User Confirm Password -->
                        <div class="form-group form-element">
                            <h5 id="confirmpassworderror" class="confirm-error-msg error">{{confirmpasswordmessage}}</h5>
                            <input #confirmpassword
                                   type="password"
                                   class="form-control"
                                   id="confirmpassword"
                                   placeholder="Confirm Password"
                                   name="user_confirmpassword"
                                   (blur)="confirmPassword(password.value, confirmpassword.value, true)"
                                   [(ngModel)]="userconfirmpassword"
                                   required>
                        </div>

                        <!-- Remember Me and Forgot Password Options -->
                        <div class="checkbox row form-element">
                            <label><input class="remember-checkbox" type="checkbox"><small>Remember me</small></label>
                            <a class="pull-right" href="#"><small>Forgot Password?</small></a>
                        </div>
                        
                        <!-- Back to Login Page -->
                        <a [routerLink]="['../login']">
                            <button type="button" class="btn btn-danger btn-lg form-btn">
                                <span class="login-return-text">Back to Login</span>
                            </button>
                        </a>

                        <!-- Submit Button -->
                        <button type="button" class="btn btn-primary btn-lg form-btn pull-right"
                                (click)="checkName(); checkEmail(); signUpWithEmail(name.value, email.value, password.value, confirmpassword.value)">Submit</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
