/* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Box-sizing border-box */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

a {
  color: #646464;
}

a:hover {
  color: #4B4B4B;
}

/* ===== SWIPE TO DELETE FUNCTIONALITY ===== */
.list-item-swipe-display {
  position: absolute;
  height: 100%;
  background-color: #555;
  z-index: 10;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  word-wrap: none;
  color: white;
  white-space: nowrap;
}

.swipe-right {
  left: 0px;
}

.swipe-left {
right: 0;
}

.swipe-display {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;

  transition-property: padding width;
  transition-duration: 0.35s;
}

.swipe-hide {
  width: 0%;
  padding-left: 0em;
  padding-right: 0em;

  transition-property: padding width;
  transition-duration: 0.35s;
}

html body div.item-delete-animation {
  opacity: 0;
  margin: -3px;
  max-height: 0px;
  transform: scale(0.5);
  transition-property: max-height transform opacity margin;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  overflow: hidden;
}

div.item-delete-container {
  max-height: 100px;
  margin: 0px;
}

/* ===== END OF SWIPE-TO-DELETE CSS ===== */

/* New Item Banner */
.new-object-input {
  padding: 20px;
  padding-left: 30px
}

.title {
  color: white;
  text-shadow: 2px 1px #818181;
}

.item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add-item {
  background-color: #0A8056;
  border: 0;
  position: fixed;
  z-index: 3000;
}

.add-quantity {
  padding: 20px 15px;
}

.add-submit-button {
  margin-top: 15px;
}

/* Main Body */
.main-container {
  top: 80px;
  margin-bottom: 60px;
}

/* List Items */
.list-element {
  background-color: #E5E5E5;
  border: 3px solid white;
    position: relative;
}

/* Modals */
.modal {
  z-index: 6000;
}

.modal-footer {
  text-align: center;
}
