.setting-form {
	margin-bottom: 50px;
	margin-top: 20px;
}

.setting-option {
	margin-bottom: 0;
}

/* Notifications Settings */
.notifications-title {
	margin-top: 0;
}

.spacer {
	height: 25px;
}

.enabled-container {
	margin-top: 5px;
}

.enabled-text {
	margin-right: 15px;
}

.enabled-checkbox {
	height: 20px;
	width: 20px;
}

/* Account Settings */
.confirm-error-msg {
	color:tomato;
}

.confirm-account-overwrite {
	color:#5CB85C;
	text-align: center; 
}

.confirm-name-success {
	color:#5CB85C;
	text-align: center; 
}

.confirm-name-error {
	color:red;
	text-align: center; 
}

.googleSignIn {
	opacity: 0.5;
}

.sign-in-google {
	color: tomato;
}