<!-- SETTINGS PAGE HTML -->
<div class="setting-form container-fluid col-lg-8 col-md-10 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
    
    <!-- MAIN PAGE CONTENT -->
    <div class="well">
        <form>

            <!-- Account Settings Begins -->
            <h3>Account Settings:</h3>
            <h5 id="GoogleAccDetected" class=sign-in-google>{{googleMessage}}{{facebookMessage}}</h5>
            <div [class.googleSignIn]="googleAccount()">
                <div class="form-group" >

                    <!-- Account Name -->
                    <label for="name"><h5 class="setting-option">Change Username:</h5></label>
                    <input [disabled] = "googleAccount()" [(ngModel)] = "nameInput" type="text" class="form-control" id="name" name="user_name" required>
                    <h5 id="nameOverwrite" class=confirm-name-success>{{nameChangeSuccess}}</h5>
                    <h5 id="nameOverwrite" class=confirm-name-error>{{nameChangeError}}</h5>
                    <button type="button" class="btn btn-success btn-block" (click)="changeUserName()" [disabled] = "googleAccount()">Submit</button>
                </div>
                <div class="spacer"></div>

                <!-- Account Password -->
                <div class="form-group">
                    <label for="password"><h5 class="setting-option">Change Password:</h5></label>
                        <h5>Must contain at least one uppercase and lower case letter as well as a number and a special character (ie. $, #, !, %)</h5>
                    <input type="password" [disabled] = "googleAccount()" class="form-control" id="password" name="user_password" #password [(ngModel)]="userpassword" required>
                </div>

                <!-- Account Confirm Password -->
                <div class="form-group">
                    <label for="confirmpassword"><h5 class="setting-option"h5>Confirm Password:</h5></label>
                    <h5 id="confirmpassworderror" class="confirm-error-msg error">{{confirmpasswordmessage}}</h5>
                    <input type="password" [disabled] = "googleAccount()" class="form-control" id="confirmpassword" name="user_confirmpassword" #confirmpassword [(ngModel)]="userconfirmpassword" required>
                </div>

                <!-- Clear and Submit Buttons -->
                <h5 id="accountOverwrite" class="confirm-account-overwrite">{{accountOverwrite}}</h5>
                <button type="button" class="btn btn-success btn-block" [disabled] = "googleAccount()" (click)="checkComplexity(password.value); confirmPassword(password.value, confirmpassword.value, true); changePassword();">Submit</button>
                <button type="button" class="btn btn-danger btn-block" [disabled] = "googleAccount()" (click)="clearFields()">Clear</button>
            </div>
        </form>
    </div>
</div>