<h1>Affiliates Page</h1>



    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
        <a href="#"><button type="button" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button></a>
        <h1>Affliated Apps</h1>

        <div class="well">



            <div class="row text-center">
                <div class="col-sm-6">
                    <button data-toggle="modal" data-target="#app1"> <img class="img-circle" src="https://image.flaticon.com/teams/new/1-freepik.jpg" height="150" width="150" >
                        <div class="desc">RaceToZero</div>
                    </button>

                </div>
                <div class="col-sm-6">
                    <button data-toggle="modal" data-target="#app2"> <img class="img-circle" src="https://image.flaticon.com/teams/new/1-freepik.jpg" height="150" width="150" >
                        <div class="desc">Take2</div>
                    </button>
                </div>

            </div>
            <div class="row"></div>

            <div class="row text-center">

                <div class="col-sm-6">
                    <button data-toggle="modal" data-target="#app3">  <img class="img-circle" src="https://image.flaticon.com/teams/new/1-freepik.jpg" height="150" width="150" >
                        <div class="desc">Phoenix Recipe</div>
                    </button>
                </div>
                <div class="col-sm-6">
                    <button data-toggle="modal" data-target="#app4">   <img class="img-circle" src="https://image.flaticon.com/teams/new/1-freepik.jpg" height="150" width="150" >
                        <div class="desc">FridgeMate</div>
                    </button>
                </div>
            </div>



            <!-- App1 Modal starts here -->
            <div id="app1" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content starts below -->


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Race to Zero</h4>
                        </div>
                        <div class="modal-body">
                            <p>Description about App1 <br>

                                <img src="http://mylolface.com/assets/faces/troll-troll-face.jpg" class="pull-right" height="200" width="200">

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a mattis urna. Quisque eget nisl eros. Maecenas orci eros, aliquam vitae nulla non, semper luctus nisi. Praesent dui nibh, faucibus at tortor sit amet, porta suscipit leo. Quisque neque tellus, accumsan vitae tempor in, vestibulum vel sem. Sed id lorem at ipsum elementum venenatis. Sed ultrices arcu in augue malesuada, vitae mollis libero maximus. Praesent non neque ipsum. Nulla porttitor ligula nec fermentum pellentesque. Curabitur ut justo mollis erat mattis lacinia. Aliquam facilisis quam enim, sit amet eleifend enim vestibulum vel. Nunc sed risus at libero vulputate elementum. Duis interdum, velit in volutpat commodo, est orci ornare ante, ut tincidunt est lorem in arcu. Cras accumsan nisl et iaculis maximus. Aliquam nibh justo, porta non tincidunt non, facilisis a ipsum. Morbi a metus id tellus elementum volutpat consequat at dui.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div></div> </div> </div>
            <!-- closing tag for App1 Modal above-->

            <!-- App2 Modal starts here -->
            <div id="app2" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content starts below -->


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Take2</h4>
                        </div>
                        <div class="modal-body">
                            <p>Description about App2 <br>

                                <img src="http://mylolface.com/assets/faces/troll-troll-face.jpg" class="pull-right" height="200" width="200">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a mattis urna. Quisque eget nisl eros. Maecenas orci eros, aliquam vitae nulla non, semper luctus nisi. Praesent dui nibh, faucibus at tortor sit amet, porta suscipit leo. Quisque neque tellus, accumsan vitae tempor in, vestibulum vel sem. Sed id lorem at ipsum elementum venenatis. Sed ultrices arcu in augue malesuada, vitae mollis libero maximus. Praesent non neque ipsum. Nulla porttitor ligula nec fermentum pellentesque. Curabitur ut justo mollis erat mattis lacinia. Aliquam facilisis quam enim, sit amet eleifend enim vestibulum vel. Nunc sed risus at libero vulputate elementum. Duis interdum, velit in volutpat commodo, est orci ornare ante, ut tincidunt est lorem in arcu. Cras accumsan nisl et iaculis maximus. Aliquam nibh justo, porta non tincidunt non, facilisis a ipsum. Morbi a metus id tellus elementum volutpat consequat at dui.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div> </div></div></div>
            <!-- closing tag for App2 Modal above-->
            <div class="bottom-row">
            <!-- App3 Modal starts here -->
            <div id="app3" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content starts below -->


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Phoenix Recipes</h4>
                        </div>
                        <div class="modal-body">
                            <p>Description about App3 <br>

                                <img src="http://mylolface.com/assets/faces/troll-troll-face.jpg" class="pull-right" height="200" width="200">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a mattis urna. Quisque eget nisl eros. Maecenas orci eros, aliquam vitae nulla non, semper luctus nisi. Praesent dui nibh, faucibus at tortor sit amet, porta suscipit leo. Quisque neque tellus, accumsan vitae tempor in, vestibulum vel sem. Sed id lorem at ipsum elementum venenatis. Sed ultrices arcu in augue malesuada, vitae mollis libero maximus. Praesent non neque ipsum. Nulla porttitor ligula nec fermentum pellentesque. Curabitur ut justo mollis erat mattis lacinia. Aliquam facilisis quam enim, sit amet eleifend enim vestibulum vel. Nunc sed risus at libero vulputate elementum. Duis interdum, velit in volutpat commodo, est orci ornare ante, ut tincidunt est lorem in arcu. Cras accumsan nisl et iaculis maximus. Aliquam nibh justo, porta non tincidunt non, facilisis a ipsum. Morbi a metus id tellus elementum volutpat consequat at dui.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div></div></div></div>
            <!-- closing tag for App3 Modal above-->


            <!-- App4 Modal starts here -->
            <div id="app4" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content starts below -->


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">FridgeMates</h4>
                        </div>
                        <div class="modal-body">
                            <p>Description about App4 <br>

                                <img src="http://mylolface.com/assets/faces/troll-troll-face.jpg" class="pull-right" height="200" width="200">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a mattis urna. Quisque eget nisl eros. Maecenas orci eros, aliquam vitae nulla non, semper luctus nisi. Praesent dui nibh, faucibus at tortor sit amet, porta suscipit leo. Quisque neque tellus, accumsan vitae tempor in, vestibulum vel sem. Sed id lorem at ipsum elementum venenatis. Sed ultrices arcu in augue malesuada, vitae mollis libero maximus. Praesent non neque ipsum. Nulla porttitor ligula nec fermentum pellentesque. Curabitur ut justo mollis erat mattis lacinia. Aliquam facilisis quam enim, sit amet eleifend enim vestibulum vel. Nunc sed risus at libero vulputate elementum. Duis interdum, velit in volutpat commodo, est orci ornare ante, ut tincidunt est lorem in arcu. Cras accumsan nisl et iaculis maximus. Aliquam nibh justo, porta non tincidunt non, facilisis a ipsum. Morbi a metus id tellus elementum volutpat consequat at dui.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div> </div></div></div>
            <!-- closing tag for App4 Modal above-->

            </div>
            <div class="col-sm-2">
            </div>
